<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      SuperApp{% block title %}{% endblock %}
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel= "stylesheet" type= "text/css">
    <link href="{{ url_for('static', filename='css/metro.css') }}" rel= "stylesheet" type= "text/css">
    <link href="{{ url_for('static', filename='css/metro-icons.css') }}" rel= "stylesheet" type= "text/css">

    <script src="http://code.jquery.com/jquery-latest.js">
    </script>
    <script src="/static/js/bootstrap.min.js">
    </script>
    <script src="/static/js/metro.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

  </head>
  <body>
    <div class="list-group">
      {% for item_cluster in items %}
      <a class="list-group-item" href="{{item_cluster['detail_url']}}">
        <div class="row">
          <div class="col-md-1 thumbnail" >
            <img class="media-object" src="/static/img/thumbs/big/{{ item_cluster['img'] }}.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-11">
            <h4>
              {{ item_cluster['item_name'] }}
            </h4>
             {% for i in range(item_cluster['star']) %}
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
             {% endfor %}
             {% for i in range(5-item_cluster['star']) %}
             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
             {% endfor %}
             <br> 历史最低价 {{ item_cluster['lowest_price'] }}
             {% if 'current_price' in item_cluster and item_cluster['current_price'] >= 0 %}
             <br> 当前价格 {{ item_cluster['current_price'] }}
             {% else %}
             <br> 已售罄
             {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </body>
</html>
