<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            BBZDM item detail
        </title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js">
        </script>
        <script src="/static/js/bootstrap.min.js">
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <style type="text/css">
                    .vertical-align {
                        display: flex;
                        flex-direction: row;
                    }

                    .vertical-align > [class^="col-"],
                    .vertical-align > [class*=" col-"] {
                        display: flex;
                        align-items: center;
                        justify-content: center; /* Optional, to align inner items 
                                                    horizontally inside the column */
                    }

        </style>
       <meta charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>
                    {{ item['item_name'] }}
                </h2>
                <img src="/static/img/square/{{ item['image_path'] }}.jpg" alt="" class="img-responsive">
            </div>
            <div class="row">
                推荐指数: {{ item['recommended_score'] }}
            </div>
            <div class="row">
                历史最低价: CNY {{ item['recommended_price'] }}
            </div>
            <div class="row">
                当前最低价: CNY {{ item['current_price'] }}
            </div>
            <div class="row">
                <h3>
                    推荐理由
                </h3>
            </div>
            {% for item in item['recommended'] %}
            <div class="row">
                <h4>
                    来自“什么值得买”的推荐
                </h4>
            </div>
            <div class="row">
                <blockquote>
                    <p>
                    {{ item.description }}
                    </p>
                    <footer>
                        <a href="{{item.url}}">
                            {{ item.title }}
                        </a>
                        <cite title={{ item.site }}>
                            {{ item.site }}
                        </cite>
                    </footer>
                </blockquote>
            </div>
            {% endfor %}
            <!--
                {% for img in item.img_list %} {% if loop.index % 3 == 1 %}
                <div class="col-md-12">
                {% endif %}
                <div class="col-md-4">
                <img src="/static/img/thumbs/big/{{ img }}.jpg" class="img-responsive"/>
                </div>
                {% if loop.index % 3 == 0 or loop.last %}
                </div>
                {% endif %} {% endfor %}
                <footer>
                <a href="{{item.url}}">
                {{ item.title }}
                </a>
                <a href="{{item['detail_url']}}">
                detail
                </a>
                <cite title={{ item.site }}>
                {{ item.site }}
                </cite>
                </footer>
                </blockquote>
            -->
            <div class="row">
                <h3>
                    购买渠道
                </h3>
                {% for item in item['shopping'] %}
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2">
                    <img src=/static/img/logo/{{ item["site"] }}.jpg class="img-responsive">
                </div>
                <div class="col-xs-2 col-sm-3" style="padding:25px;">
                    {% if item['price'] < 0 %}
                    <p>已售罄</p>
                    {% else %}
                    <p>当前价格 {{ item['price'] }}</p>
                    {% endif %}
                </div>
                <div class="col-xs-2 col-sm-3" style="padding:25px;">
                    <a href = {{ item["url"] }}> 直达链接 </a>
                </div>
            </div>
            {% endfor %}
            <!--
                <div class="panel-group" id="shoppint item" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="head_{{ item['url_md5'] }}">
                <h4 class="panel-title">
                <a 
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse_{{ item['url_md5'] }}"
                aria-expanded="true"
                aria-controls="collapse_{{ item['url_md5'] }}">


                {{ item.title }}
                </a>
                </h4>
                </div>
                <div 
                id="collapse_{{ item['url_md5'] }}"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="head_{{ item['url_md5'] }}">



                <div class="panel-body">
                <blockquote>
                <a id="title" href={{ item.url }}>
                购买链接
                </a>
                <p id="description">
                {{ item.description }}
                </p>
                <p id="price">
                {{ item.price }}
                </p>
                {% for img in item.img_list %} {% if loop.index % 3 == 1 %}
                <div class="col-md-12">
                {% endif %}
                <div class="col-md-4">
                <img src="/static/img/thumbs/big/{{ img }}.jpg" class="img-responsive"/>
                </div>
                {% if loop.index % 3 == 0 or loop.last %}
                </div>
                {% endif %} {% endfor %}
                <footer>
                {{ item.title }}
                <cite title={{ item.site }}>
                {{ item.site }}
                </cite>
                </footer>
                </blockquote>
                </div>
                </div>
                </div>
                </div>
            -->
        </div>
    </body>
</html>
