<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if category %}
            爸爸值得买 - {{ category }}
            {% else %}
            爸爸值得买
            {% endif %}
        </title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel= "stylesheet" type= "text/css">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel= "stylesheet" type= "text/css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/jquery.infinitescroll.js"></script>
        <meta name="baidu-site-verification" content="kH2AEKFZGi" />
        <meta name="360-site-verification" content="7c881394d90c9261cb9c6a451a051025" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
    </head>
    <body style="min-height: 2000px; padding-top: 70px;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button brand" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <!-- <span class="glyphicon glyphicon-home"></span> -->
                        <div class="row">
                        <img class="brand_img" src="/static/img/logo/baba.png">
                        <span class="hidden-xs danger">爸爸值得买</span>
                        </div>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle brand" data-toggle="dropdown" role="button" aria-expanded="false"><span>分类</span><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">母婴</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='stroller', page='1')}}">婴儿推车</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='car_seat', page='1')}}">安全座椅</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">玩具</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='lego', page='1') }}">乐高</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">运动</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='running_shoes', page='1') }}">跑步鞋</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='backpack', page='1') }}">户外背包</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">数码</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='headphone', page='1') }}">耳机</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='smartphone', page='1') }}">手机</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='keyboard', page='1') }}">键盘</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='mouse', page='1') }}">鼠标</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='router', page='1') }}">路由器</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='monitor', page='1') }}">显示器</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='camera', page='1') }}">相机</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='lens', page='1') }}">镜头</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='mobile_power', page='1') }}">移动电源</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">家电</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='tv', page='1') }}">电视机</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">健康</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='shaver', page='1') }}">剃须刀</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='electric_toothbrush', page='1') }}">电动牙刷</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filter<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Shop</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='', shop='jd', page='1') }}">JD</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='', shop='amazon', page='1') }}">Amazon</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='', shop='suning', page='1') }}">Suning</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='', shop='other', page='1') }}">Other</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="brand" href="#about">About</a></li>
                        <li><a class="brand" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">热门标签:</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='stroller', page='1')}}"><span class="label label-primary">婴儿推车</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='car_seat', page='1')}}"><span class="label label-danger">安全座椅</span></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='lego', page='1') }}">乐高</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='running_shoes', page='1') }}">跑步鞋</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='backpack', page='1') }}">户外背包</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='headphone', page='1') }}">耳机</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='smartphone', page='1') }}">手机</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='keyboard', page='1') }}">键盘</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='mouse', page='1') }}">鼠标</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='router', page='1') }}">路由器</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='monitor', page='1') }}">显示器</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='camera', page='1') }}">相机</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='lens', page='1') }}">镜头</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='mobile_power', page='1') }}">移动电源</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='tv', page='1') }}">电视机</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='shaver', page='1') }}">剃须刀</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('list_item', category='electric_toothbrush', page='1') }}">电动牙刷</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row" id="item_row">
                {% for item in items %}
                <div class="shopping_item">
                <div class="col-xs-12 col-sm-3">
                    <div class="thumbnail">
                        <a href="{{ url_for('.item_detail', item_id=item['item_id']) }}" class="thumbnail">
                            <img src="/static/img/square/{{ item['image_path'] }}.jpg" alt="" class="img-responsive">
                        </a>
                        <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ item['item_name'] }}
                        </h4>
                        {% for i in range(item['star']) %}
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        {% endfor %}
                        {% for i in range(5-item['star']) %}
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        {% endfor %}
                        <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> 历史最低价
                            {% if item['recommended_currency'] == 'CNY' %}
                            {{ item['recommended_price'] }}
                            {% else %}
                            {{ item['recommended_currency'] }} {{ item['recommended_price'] }} (CNY {{ item['recommended_rmb_price'] }})
                            {% endif %}
                        </h6>
                        <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {% if item['current_price'] < 0 %}
                            已售罄
                            {% elif item['current_currency'] == "CNY" %}
                            当前价格 {{ item['current_price'] }}
                            {% else %}
                            当前价格 {{ item['current_currency'] }} {{ item['current_price'] }} (CNY {{ item['current_rmb_price'] }})
                            {% endif %}
                        </h6>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="next">
            <!--<a href="{{ url_for('list_item', category='car_seat') }}?page=1"></a>-->
            <a href="/{{ category }}?page=1"></a>
        </div>
        <script>
            $(document).ready(function (){
            $('#item_row').infinitescroll({
                navSelector  : "#next",   // 页面分页元素(成功后会被隐藏)
                nextSelector : "#next a", // 需要点击的下一页链接，和2的html要对应
                itemSelector : ".shopping_item ", // ajax回来之后，每一项的selecter
            });
            });
        </script>
    </body>
</html>
